<div class="fixed inset-0 z-40 bg-black bg-opacity-60 transition duration-300" (click)="cancel()" @backdrop></div>
<div class="fixed inset-0 z-50 flex items-center justify-center p-4">
  <div class="w-full max-w-sm p-8 rounded-2xl shadow-lg bg-gradient-to-br from-neutral-50 to-neutral-100 space-y-6 transition duration-300" @modal>
    <div class="text-center">
      <h3 class="text-lg font-medium text-neutral-900">Restablecer Contraseña</h3>
      <p class="mt-2 text-sm text-neutral-500">Ingresa tu correo y te enviaremos un enlace para que puedas definir una nueva contraseña.</p>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="send()">
      <div>
        <label for="email-reset" class="sr-only">Correo Electrónico</label>
          <input id="email-reset" type="email" formControlName="email" class="w-full px-4 py-3 mt-1 text-neutral-700 bg-neutral-100 border rounded-lg">
      </div>
        <div class="flex flex-col sm:flex-row sm:justify-end pt-4 space-y-4 sm:space-y-0 sm:space-x-4">
          <app-ui-button type="button" (click)="cancel()" class="w-full sm:w-auto">Cancelar</app-ui-button>
          <app-ui-button type="submit" [disabled]="isLoading || forgotPasswordForm.invalid" class="w-full sm:w-48 flex items-center justify-center">
            <ng-container *ngIf="!isLoading">Enviar Enlace</ng-container>
            <ng-container *ngIf="isLoading">
              <svg class="animate-spin -ml-1 mr-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path></svg>
              Enviando...
            </ng-container>
          </app-ui-button>
        </div>
    </form>
  </div>
</div>