<div class="fixed inset-0 z-40 bg-black bg-opacity-60" (click)="cancel()"></div>
<div class="fixed inset-0 z-50 flex items-center justify-center p-4">
  <div class="w-full max-w-sm p-8 bg-white rounded-2xl shadow-lg space-y-6">
    <div class="text-center">
      <h3 class="text-lg font-medium text-gray-900">Restablecer Contraseña</h3>
      <p class="mt-2 text-sm text-gray-500">Ingresa tu correo y te enviaremos un enlace para que puedas definir una nueva contraseña.</p>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="send()">
      <div>
        <label for="email-reset" class="sr-only">Correo Electrónico</label>
          <input id="email-reset" type="email" formControlName="email" class="w-full px-4 py-3 mt-1 text-gray-700 bg-gray-100 border rounded-lg">
      </div>
      <div class="flex justify-end pt-4 space-x-4">
        <button type="button" (click)="cancel()" class="px-4 py-2 font-semibold text-gray-700 bg-gray-200 rounded-lg">Cancelar</button>
        <button type="submit" [disabled]="isLoading || forgotPasswordForm.invalid" class="flex items-center justify-center w-48 px-4 py-2 font-semibold text-white bg-primary rounded-lg">
          <ng-container *ngIf="!isLoading">Enviar Enlace</ng-container>
          <ng-container *ngIf="isLoading">
            <svg class="animate-spin -ml-1 mr-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path></svg>
            Enviando...
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>