<div class="fixed inset-0 z-40 bg-black bg-opacity-60 transition duration-300" (click)="cancel()" @backdrop></div>
<div class="fixed inset-0 z-50 flex items-center justify-center p-4">
  <div class="w-full max-w-sm p-8 bg-white rounded-2xl shadow-lg space-y-6 transition duration-300" @modal>
    <div class="text-center">
      <h3 class="text-lg font-medium text-gray-900">Confirmar Identidad</h3>
      <p class="mt-2 text-sm text-gray-500">Por tu seguridad, ingresa tu contraseña actual para continuar.</p>
    </div>
    <form [formGroup]="reauthForm" (ngSubmit)="confirm()">
      <div>
        <label for="current-password" class="sr-only">Contraseña Actual</label>
          <input id="current-password" type="password" formControlName="password" class="w-full px-4 py-3 mt-1 text-gray-700 bg-gray-100 border rounded-lg">
      </div>
        <div class="flex flex-col sm:flex-row sm:justify-end pt-4 space-y-4 sm:space-y-0 sm:space-x-4">
          <button type="button" (click)="cancel()" class="w-full px-4 py-2 font-semibold text-gray-700 bg-gray-200 rounded-lg sm:w-auto">Cancelar</button>
          <button type="submit" [disabled]="reauthForm.invalid" class="w-full px-4 py-2 font-semibold text-white bg-primary rounded-lg sm:w-48">Confirmar</button>
        </div>
      </form>
  </div>
</div>